@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');

body{
    height: 100%vh;
    font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(237,15,15);
background: linear-gradient(183deg, rgba(237,15,15,1) 0%, rgba(253,29,29,1) 20%, rgba(253,62,38,1) 35%, rgba(252,157,64,1) 55%, rgba(251,241,35,1) 65%, rgba(237,15,15,1) 100%);
}

#question{
         font-size: 40px;
}

ul{
    list-style-type: none;
    font-size: 25px;
}

.container>div{
   
    font-weight: 500;
    font-size: 15px;
    
}
#answered{
    text-align: center;
    font-size: 60px;
    
}

#start{
    font-size: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
}

a:hover{
    font-size: large;
    color: rgba(251,241,35,1);
}

#start-quiz{
   text-align: center;
   width: 100%;
}


button{
    padding: 0;
    margin: 0;
    margin-right: 40px;

}



img{
    padding: 0;
    margin:0;
    height:250px;
    width:250px;
    
}

h1{
    font-size: 60px;
    text-decoration: underline;
}

.choice-text{
   font-size: 20px;
}

#front-text{
    display: flex;
    font-size: 30px;
    align-items: center;
  justify-content: center;

}


a{
    text-decoration: none;
    color: black;
    
}

#landingpage{
    text-align: center;
   
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}


.user-choice{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    margin: 20px;
    cursor: pointer;
}

.choice-text{
    cursor: pointer;
    font-size: 20px;
}

#herobg{
    width: 800px;
}

#hero{
    font-size: 40px;
    border: 2px solid black;
    margin: 40px 40px;
    padding: 20px 20px;
}

#game{
    cursor: pointer;
}

.container>div{
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 5px 10px black;
    
}

.container{
    display: grid;
    grid-gap: 15px;
    text-align: center;
    grid-template-areas: 
    ". heading heading ."
    '. question question .'
    '. answer-a answer-b .'
    '. answer-c answer-d .'
    '. answered-questions answered-questions .'
    
    ;

    
}

#heading{
    grid-area: heading;
}

#question{
    grid-area: question;
}

#answer-b{
    grid-area: answer-b;
}

#answer-c{
    grid-area: answer-c;
}

#answer-d{
    grid-area: answer-d;
}

#answer-a{
    grid-area: answer-a;
}

#start-quiz{
    grid-area: start-quiz;
}

#answered-questions{
    grid-area: answered-questions;
    margin-bottom: 50px;
}