body{
    background-color: grey;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

#questions{
    border: 2px solid black;
    height: 300px;
    width: 300px;
}

.user-choice{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

.choice-text{
    cursor: pointer;
}